@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mojoin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mojoin.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/admin_assets/images/logo/favicon.png">
    <script src="~/js/site.js" defer></script>

</head>
<body ng-app="mojoinApp">
    <div class="mogi-navbar">
        <div class="mogi-navbar-container">
            <div class="mogi-navbar-logo">
                <a href="/Rooms/Index"><img src="~/images/logo.png" width="100" height="100" alt="Mogi.vn" title="Tìm kiếm phòng trọ cho thuê"></a>
            </div>

            <div class="navbar-menu">
                @*<a class="" href="/mua-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Tìm mua</a>*@
                <a class="" href="/Rooms/Index" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Tìm thuê</a>
                <a class="" href="/gia-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Tin tức</a>
                <a class="" href="/hoi-dap" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Bảng giá dịch vụ</a>
                @*<a class="" href="/tim-moi-gioi" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Môi giới</a>
                <a class="" href="/du-an" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Dự án</a>*@

                @if (User.Identity.IsAuthenticated)
                {
                    // Lấy đối tượng ClaimsIdentity của người dùng
                    var identity = (ClaimsIdentity)User.Identity;

                    // Lấy giá trị của các đối tượng Claim
                    string firstName = identity.FindFirst("FirstName")?.Value;
                    string lastName = identity.FindFirst("LastName")?.Value;
                    string userId = identity.FindFirst("UserId")?.Value;
                    string userAvt = identity.FindFirst("UserAvatar")?.Value;
                    <div class="navbar-user">
                        <div style="display:block;" class="navbar-user-profile">
                            <a href="javascript:void(0)" class="usericon" onclick="toggleUserMenu()">
                                @if (string.IsNullOrEmpty(userAvt))
                                {
                                    <span class="avatar ng-binding">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                                }
                                else
                                {
                                    <span class="avatar ng-binding">
                                        <img src="@userAvt" alt="User Avatar">
                                    </span>
                                }

                                <div class="last-name">
                                    <div class="ng-binding">@firstName</div>
                                </div>
                            </a>
                            <div id="toggleUser" class="personel-menu" style="display:none;">
                                <div>
                                    <div class="personel">
                                        @if (string.IsNullOrEmpty(userAvt))
                                        {
                                            <div class="personal-avatar ng-binding">
                                                <i class="fa fa-user-circle"></i>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="personal-avatar ng-binding">
                                                <img src="@userAvt" alt="User Avatar">
                                            </div>
                                        }
                                        <div class="info">
                                            <div class="name">
                                                <div class="info-name">
                                                    <div class="ng-binding">@lastName @firstName </div>
                                                </div>
                                                <span class="info-check-icon ">
                                                    <svg width="18" height="18"><use></use></svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-menu border-top">
                                    <div>
                                        <a href="/quan-li-tin.html" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-managed-post">
                                            <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#house-square"></use></svg></span>
                                            <span>Quản lý tin</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/update-in4.html" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-profile">
                                            <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#user"></use></svg></span>
                                            <span>Thông tin tài khoản</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/PaymentMomo/NaptienLayout" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-profile">
                                            <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#user"></use></svg></span>
                                            <span>Nạp tiền</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-alert">
                                            <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#bell"></use></svg></span>
                                            <span>Thông báo</span>
                                            <!-- ngIf: Profile.Message.HasValue -->
                                        </a>
                                    </div>
                                    <div>
                                        <a href="@Url.Action("YeuThich","YeuThich")" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-favorite">
                                            <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#heart"></use></svg></span>
                                            <span>Tin đã lưu</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-saved-search">
                                            <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#bookmark"></use></svg></span>
                                            <span>Tìm kiếm đã lưu</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/logout.html">
                                            <span class="main-menu-icon"><svg width="24" height="24"></svg></span>
                                            <span>Đăng xuất</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="action-menu border-top">
                                    <div>
                                        <a href="/doi-pass.html" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-password">
                                            <span>Thay đổi mật khẩu</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-signout">
                                            <span>Thoát</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end ngIf: Profile.isAuth() -->
                        <a class="navbar-user-posting" href="/dang-bai.html" gtm-event="link" gtm-cat="posting" gtm-act="add-posting">Đăng tin</a>
                    </div>
                }
                else
                {
                    <a class="hidden-xs ng-scope" ng-if="!Profile.isAuth()" id="menu-signin" href="/login.html" gtm-event="link" gtm-cat="menu" gtm-act="user-signin">Đăng nhập</a>
                    <a class="hidden-xs ng-scope" ng-if="!Profile.isAuth()" id="menu-signup" href="/register.html" gtm-event="link" gtm-cat="menu" gtm-act="user-signin">Đăng ký</a>
                }
            </div>


            <div class="navbar-hamburger">
                <i class="fa fa-bars" ng-click="openSlideMenu()"></i>

                <div class="hamburger-menu slideMenu" id="mogi-slide-menu">
                    <div class="close-icon" ng-click="closeSlideMenu()"><i class="fa fa-close" aria-hidden="true"></i></div>
                    <!-- ngIf: Profile.isAuth() --><div ng-if="Profile.isAuth()" class="ng-scope">
                        <div class="info-detail">
                            <div class="detail-avatar ng-binding" ng-bind-html="Profile.getAvatar()"><i class="fa fa-user-circle"></i></div>
                            <div class="detail-name">
                                <div class="name-fullname">
                                    <div>
                                        <div ng-bind="Profile.Data.LastName + ' ' +Profile.Data.FirstName" class="ng-binding">vu thi</div>
                                    </div>
                                    <!-- ngIf: !Profile.isNormal() --><div ng-if="!Profile.isNormal()" class="ng-scope">
                                        <svg width="18" height="18"><use xlink:href="/content/mogi.svg#check-circle-o"></use></svg>
                                    </div><!-- end ngIf: !Profile.isNormal() -->
                                </div>
                                <!-- ngIf: !Profile.isNormal() --><div ng-if="!Profile.isNormal()" class="name-user-type ng-scope">
                                    <a href="" ng-bind-html="Profile.getUserTypeLabel()" class="ng-binding">Thành viên Tiết kiệm</a>
                                </div><!-- end ngIf: !Profile.isNormal() -->
                            </div>
                        </div>
                        <div class="slideMenu-user-posting">
                            <a href="" gtm-event="link" gtm-cat="posting" gtm-act="add-posting">Đăng tin</a>
                        </div>
                        <!-- ngIf: !Profile.isNormal() && Profile.Data.SupportStaff !== null -->
                    </div><!-- end ngIf: Profile.isAuth() -->
                    <!-- ngIf: !Profile.isAuth() -->
                    <div class="menu-tiles">
                        <div class="tile-item">
                            <a href="/mua-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-buy"></use></svg>
                                </div>
                                <div class="tile-title"> Tìm mua</div>
                            </a>
                        </div>
                        <div class="tile-item">
                            <a href="/thue-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-rent"></use></svg>
                                </div>
                                <div class="tile-title"> Tìm thuê</div>
                            </a>
                        </div>
                        <div class="tile-item">
                            <a href="/gia-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-house-price"></use></svg>
                                </div>
                                <div class="tile-title"> Giá nhà đất</div>
                            </a>
                        </div>
                        <div class="tile-item">
                            <a href="/hoi-dap" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-ask"></use></svg>
                                </div>
                                <div class="tile-title"> Hỏi đáp</div>
                            </a>
                        </div>
                        <div class="tile-item">
                            <a href="/tim-moi-gioi" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-agent"></use></svg>
                                </div>
                                <div class="tile-title"> Môi giới</div>
                            </a>
                        </div>
                        <div class="tile-item">
                            <a href="/du-an" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-project"></use></svg>
                                </div>
                                <div class="tile-title"> Dự án</div>
                            </a>
                        </div>
                    </div>
                    <!-- ngIf: Profile.isAuth() --><div ng-if="Profile.isAuth()" class="ng-scope">



                        <div ng-class="Profile.isNormal() === true || (Profile.isNormal() === false &amp;&amp; Profile.Data.SupportStaff === null) ? ['main-menu border-top'] : ['main-menu']" class="main-menu border-top">
                            <div>
                                <a href="/trang-ca-nhan/quan-ly-tin" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-managed-post">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#house-square"></use></svg></span>
                                    <span>Quản lý tin bất động sản</span>
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/thong-tin-ca-nhan" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-profile">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#user"></use></svg></span>
                                    <span>Thông tin tài khoản</span>
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/tim-kiem-da-luu#message" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-alert">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#bell"></use></svg></span>
                                    <span>Thông báo</span>
                                    <!-- ngIf: Profile.Message.HasValue -->
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/bat-dong-san-yeu-thich" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-favorite">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#heart"></use></svg></span>
                                    <span>Bất động sản đã lưu</span>
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/tim-kiem-da-luu" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-saved-search">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#bookmark"></use></svg></span>
                                    <span>Tìm kiếm đã lưu</span>
                                </a>
                            </div>
                            <div>
                                <a asp-controller="Account" asp-action="Logout">
                                    <span class="main-menu-icon"><svg width="24" height="24"></svg></span>
                                    <span>Đăng xuất</span>
                                </a>
                            </div>
                        </div>
                        <div class="action-menu border-top">
                            <div>
                                <a href="/trang-ca-nhan/doi-mat-khau" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-password">
                                    <span>Thay đổi mật khẩu</span>
                                </a>
                            </div>
                            <div>
                                <a href="/logoff" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-signout">
                                    <span>Thoát</span>
                                </a>
                            </div>
                        </div>
                    </div><!-- end ngIf: Profile.isAuth() -->
                    <!-- ngIf: Profile.isAuth() --><div ng-if="Profile.isAuth()" class="slideMenu-cover ng-scope"></div><!-- end ngIf: Profile.isAuth() -->
                </div>
                <div id="mogi-slide-overlay" ng-click="closeSlideMenu()"></div>
            </div>
        </div>
        <div class="aw__s1nklpnj" color="#fff" style="--s1nklpnj-0:#fff; --s1nklpnj-1:86px;">
            <div class="aw__l1cnvd95">
                <div class="aw__s10g4rka">
                    <div class="aw__s10ag3v8">
                        <div class="aw__s1cvpvtg">
                            <div>
                                <div>
                                    <div class="aw__s19pnt4e" style="--s19pnt4e-4:#f4f4f4;">
                                        <div id="autoComplete">
                                            <div class="aw__d1oi1yn1">
                                                <div action="/Rooms/Search" class="aw__s116vlok">
                                                    <div autocomplete="off" placeholder="Cho thuê Phòng trọ" id="__inputItemProps" type="text" value="" class="aw__a1ywrhtc" style="--a1ywrhtc-2:#f4f4f4; --a1ywrhtc-6:35px;">
                                                        <button aria-label="Search Button Desktop" class="aw__c1fgvuub" style="--c1fgvuub-0:#3bacb6;">
                                                            <svg xmlns="http://www.w3.org/2000/svg" data-type="monochrome" viewBox="0 0 16 16" width="1em" height="1em" fill="none">
                                                                <path fill="currentColor" d="M6.4 0a6.369 6.369 0 00-4.525 1.873A6.425 6.425 0 00.502 3.906v.002A6.383 6.383 0 000 6.398a6.372 6.372 0 001.875 4.524 6.385 6.385 0 008.428.537l-.006.006 4.295 4.293a.827.827 0 001.166-1.166l-4.295-4.295a6.368 6.368 0 00-.537-8.424A6.372 6.372 0 006.4 0zm0 1.615a4.75 4.75 0 013.383 1.4c.44.44.785.95 1.028 1.522h-.002c.249.59.377 1.214.377 1.861 0 .648-.128 1.27-.377 1.862h.002a4.783 4.783 0 01-2.55 2.545c-.59.25-1.213.377-1.86.377a4.761 4.761 0 01-1.864-.377A4.749 4.749 0 013.016 9.78c-.44-.44-.783-.95-1.024-1.521a4.735 4.735 0 01-.377-1.862c0-.647.127-1.272.377-1.863a4.75 4.75 0 011.024-1.52 4.754 4.754 0 013.384-1.4z"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <input name="keyword" autocomplete="off" placeholder="Cho thuê Phòng trọ" id="__inputItemProps" type="text" class="aw__t1o0834r" value="" style="--t1o0834r-1:#f4f4f4; --t1o0834r-4:36px; --t1o0834r-6:35px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        @RenderBody()
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 my-4">
                        @*<div class="mb-4">
                        <img src="static/img/logo-light.svg" title="" alt="">
                        </div>*@
                        <div class=" mb-4" id="logo">
                            <img src="~/Admin_assets/images/logo/logo-fold-white.png" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2 my-4">
                        <h5 class="text-white h6 mb-4">THÔNG TIN</h5>
                        <ul class="list-unstyled white-link footer-links">
                            <li>
                                <a href="/DanhSachSanPham/Index">Trang chủ</a>
                            </li>
                            <li>
                                <a href="/DanhSachSanPham/Index">Sản phẩm</a>
                            </li>
                            <li>
                                <a href="#">Tin tức</a>
                            </li>
                            <li>
                                <a href="#">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-2 my-4">
                        <h5 class="text-white h6 mb-4">HỖ TRỢ</h5>
                        <ul class="list-unstyled white-link footer-links">
                            <li>
                                <a href="#">Hướng dẫn mua hàng</a>
                            </li>
                            <li>
                                <a href="#">Đổi trả và bảo hành</a>
                            </li>
                            <li>
                                <a href="#">Giao nhận và thanh toán</a>
                            </li>
                            <li>
                                <a href="#">Đăng ký thành viên</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-2 my-4">
                        <h5 class="text-white h6 mb-4">LIÊN HỆ</h5>
                        <ul class="list-unstyled white-link footer-links">
                            <li>
                                <a href="#">
                                    <img src="~/images/locationicon.png" />
                                    Q.Bình Thạnh, TP.HCM
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/images/phoneicon.png" />
                                    0931870526
                                </a>
                            </li>
                            <li>
                                <a href="mailto:MeMeow@gmail.com">
                                    <img src="~/images/mailicon.png" />
                                    MOJOIN@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3 my-4">
                        <h5 class="text-white h6 mb-4">FANPAGE</h5>
                        <div class="nav footer-socila-icon">
                            <a href="https://www.facebook.com">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom footer-border-top light py-3">
            <div class="container text-center" style="color: #ffffff">
                <p class="m-0">© 2023 copyright <a href="#" class="text-reset">MeMeow</a></p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")

</body>
</html>
<script>
    function toggleUserMenu() {
        const tg = document.getElementById("toggleUser");
        if (tg.style.display === "none") {
            tg.style.display = "block";
        } else {
            tg.style.display = "none";
        }
    }
</script>