@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Room>
<link href="~/css/sort_room.css" rel="stylesheet" />

<div id="main" class="clearfix" style="">
    <div id="property" class="clearfix">
        <div class="summary clearfix line">
            <div class="summary-tab active" style="">
                <h4><a class="to-uppper" data-toggle="pill" href="">Kết quả tìm kiếm<span class="counter ng-binding"> </span></a></h4>
            </div>
        </div>
        <ul class="props">
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var item in Model)
                {

                    <li class="display-room-@item.DisplayType">
                        <div class="prop-img">
                            <img src="/Rooms/ShowImage/@item.RoomId">
                        </div>
                        <div class="prop-info">
                            <a href="/Rooms/Details/@item.RoomId" class="link-overlay" style="display: block;overflow: hidden;">
                                
                                @if (item.DisplayType == 1)
                                {
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <i class="fas fa-star text-warning"></i>
                                    }
                                    <br />
                                }
                                else if (item.DisplayType == 2)
                                {
                                    @for (int i = 1; i <= 4; i++)
                                    {
                                        <i class="fas fa-star text-warning"></i>
                                    }
                                }
                                else if (item.DisplayType == 3)
                                {
                                    @for (int i = 1; i <= 3; i++)
                                    {
                                        <i class="fas fa-star text-warning"></i>
                                    }
                                }
                                else if (item.DisplayType == 4)
                                {
                                    @for (int i = 1; i <= 2; i++)
                                    {
                                        <i class="fas fa-star text-warning"></i>
                                    }
                                }
                                
                                @item.Title
                            </a>
                            <div class="prop-addr">@item.StreetNumber Đường @item.Street, Quận @item.District, @item.City</div>
                            <ul class="prop-attr">
                                <li>@item.Area m<sup>2</sup></li>
                                <li>@item.NumRooms PN</li>
                                <li>@item.NumBathrooms WC</li>
                            </ul>
                            <div class="price">@String.Format("{0:#,##0}", @item.Price) VNĐ</div>
                        </div>
                        <div class="prop-extra">
                            <div class="prop-created">Ngày đăng: @String.Format("{0:dd/MM/yyyy}", @item.CreateDate)</div>
                        </div>
                        @foreach (var room in item.UserPackages)
                        {
                            if (item.RoomId == room.RoomId)
                            {
                                if (room.IsUrgent)
                                {
                                    <span class="thuenhanh-label "></span>

                                }
                            }
                            <span>lmao</span>
                            
                        }
                    </li>
                   
                }

            }
            else
            {
                <p>Không tìm thấy kết quả phù hợp.</p>
            }
        </ul>
    </div>
</div>


@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
<style>
    .pagination-container {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
</style>
