@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@{

}
@model X.PagedList.IPagedList<Room>
<link href="~/css/sort_room.css" rel="stylesheet" />
<style>
    .props li {
        margin: 10px;
        padding: 10px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        transition: background-color 0.3s, color 0.3s;
    }

        .props li a {
            font-weight: normal;
        }

            .props li a:hover {
                font-weight: bold;
            }

        .props li.display-type-1 {
            background-color: #ffcccc;
            font-size: 1.2em;
        }

        .props li.display-type-2 {
            background-color: #ffd699;
            font-size: 1.2em;
        }

        .props li.display-type-3 {
            background-color: #fcc;
        }

        .props li.display-type-4 {
            background-color: #fffae5;
        }

        .props li:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }
</style>
<div id="main" class="clearfix" style="">
    <div id="property" class="clearfix">
        <div class="summary clearfix line">
            <div class="summary-tab active" style="">
                <h4><a class="to-uppper" data-toggle="pill" href="">Kết quả tìm kiếm<span class="counter ng-binding"> </span></a></h4>
            </div>
        </div>
        <ul class="props">
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <li class="display-type-@item.DisplayType">
                        <div class="prop-img">
                            <img src="/Rooms/ShowImage/@item.RoomId">
                        </div>
                        <div class="prop-info">
                            <a href="/Rooms/Details/@item.RoomId" class="link-overlay">
                                @item.Title
                            </a>
                            <div class="prop-addr">@item.StreetNumber Đường @item.Street, Quận @item.District, @item.City</div>
                            <ul class="prop-attr">
                                <li>@item.Area m<sup>2</sup></li>
                                <li>@item.NumRooms PN</li>
                                <li>@item.NumBathrooms WC</li>
                            </ul>
                            <div class="price">@String.Format("{0:#,##0}", @item.Price) VNĐ</div>
                        </div>
                        <div class="prop-extra">
                            <div class="prop-created">Ngày đăng:@String.Format("{0:dd/MM/yyyy}", @item.CreateDate)</div>
                        </div>
                    </li>
                    <br />
                }
            }
            else
            {
                <p>Không tìm thấy kết quả phù hợp.</p>
            }
        </ul>
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
<style>
    .pagination-container {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
</style>