@model X.PagedList.IPagedList<mojoin.Models.Room>
@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core

<div class="list-view">
    <div>
        <div style="display: flex; flex-flow: row wrap;">
            @foreach (var item in Model)
            {
                //so sánh để hiị thị bài đăng được hhieenr thị
                if (item.IsActive.Equals(1))
                {
                    <div class="AdItem_item__Ljfcd col-6 col-sm-4">
                        <a class="AdItem_wrapperLink__Q_RTw" href="/Rooms/Details/@item.RoomId">
                            <div id="viewlist" class="AdThumbnail_thumbnailWrapper__zaKRz">
                                <div class="AdThumbnail_thumbnailImg__smtQI " role="button" tabindex="0">
                                    <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                                        <img alt="" src="/Rooms/ShowImage/@item.RoomId" decoding="async" data-nimg="fill" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 100px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                    </span>
                                    <div class="AdThumbnail_imageGroup__nOLEm">
                                        <div class="AdThumbnail_imageNum__thXX6">
                                            <span class="AdThumbnail_text__XUXVY">@item.RoomImages.Count()</span>
                                        </div>
                                    </div>
                                </div>
                                @*@{
                        Html.RenderPartial("~/Views/YeuThich/YeuThichPartial.cshtml");
                        }*@
                            </div>
                            <div class="AdBody_caption__0FF4E">
                                <div class="commonStyle_adTitleGrid__ZQnBY" role="button" tabindex="0">@item.Title</div>
                                <span class="AdBody_condition__FwozD"> @item.Area m² </span>
                                <div>
                                    <p class="AdBody_price__kHpmy">@String.Format("{0:#,##0}", item.Price) VNĐ/tháng</p>
                                    <div class="AdBody_labelWrapper__7gzLO"></div>
                                </div>
                            </div>
                            <div class="AdBody_footer__Xy9cP">
                                <a rel="noopener noreferrer" target="_blank">
                                    <img class="commonStyle_image__6q98n commonStyle_round__zezFa" src="https://static.chotot.com/storage/chotot-icons/svg/user.svg" alt="Thảo" height="16" width="16" srcset="https://static.chotot.com/storage/chotot-icons/svg/user.svg">
                                </a>
                                <div class="commonStyle_deviderWrapper__mnwnv"></div>
                                <div class="AdBody_adItemPostedTime__70d9K">
                                    <div class="AdBody_sticky__eQ3Xd">
                                        <span class="AdBody_stickyIcon__oUuQj"></span>
                                        <span class="AdBody_stickyText__q0Ep7"> Tin ưu tiên </span>
                                    </div>
                                </div>
                                <div class="commonStyle_deviderWrapper__mnwnv"></div>
                                <span class="AdBody_adItemPostedTime__70d9K AdBody_location___gCdn">
                                    <span class="AdBody_text__FdAzW"> @item.District </span>
                                </span>
                            </div>
                        </a>
                    </div>
                }

            }
        </div>
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
<style>
    .pagination-container {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
</style>
