@model mojoin.Models.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/detail.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    //<script src="~/js/site.js" defer></script>
}

<div id="mogi-page-content" class="mg-property-listing ng-scope">

    <div class="property-detail clearfix">

        <div class="property-detail-main">
            <div class="main-intro">
                <!-- Gallery-->
                @{
                    Html.RenderPartialAsync("~/Views/Rooms/GetRoomImages.cshtml", Model.RoomImages);
                }
                <!--End Gallery-->
            </div>
            <div class="main-info">
                <div class="title">
                    <h1>@Model.Title</h1>
                </div>
                <div class="address"> @Model.Street, @Model.Ward, @Model.District, @Model.City</div>
                <div class="price">6 triệu</div>
                <!--Social and favorite-->
                <!--Thong tin chinh-->
                <h2 class="info-title">Thông tin chính</h2>
                <div class="info-attrs clearfix">
                    <div class="info-attr clearfix">
                        <span>Diện tích sử dụng</span>
                        <span>@Model.Area m<sup>2</sup></span>
                    </div>


                    <div class="info-attr clearfix">
                        <span>Phòng ngủ</span>
                        <span>@Model.NumRooms</span>
                    </div>

                    <div class="info-attr clearfix">
                        <span>Nhà tắm</span>
                        <span>@Model.NumBathrooms</span>
                    </div>

                    <div class="info-attr clearfix">
                        <span>Pháp lý</span>
                        <span>Không xác định</span>
                    </div>
                    <div class="info-attr clearfix">
                        <span>Ngày đăng</span>
                        <span>@String.Format("{0:dd/MM/yyyy}", Model.CreateDate)</span>
                    </div>
                    <div class="info-attr clearfix">
                        <span>Mã phòng</span>
                        <span>@Model.RoomId</span>
                    </div>
                </div>
                <!--Gioi thieu-->
                <h2 class="info-title">Giới thiệu</h2>
                <div class="info-content-body">@Model.Description</div>
                <!--bao vi pham-->
                <div class="report" data-toggle="modal" data-target="#report" ng-click="Report.Open()" id="21650127" gtm-event="all" gtm-cat="detail" gtm-act="report">
                    <span>Báo vi phạm</span><i class="fa fa-exclamation-triangle"></i>
                </div>
                <!--Agent-->
                <div class="agent-info">
                    <img src="" alt="">
                    <div class="agent-name">
                        <a href="">@ViewBag.UserFullName</a>

                        <svg width="18" height="18"><use xlink:href="/content/mogi.svg#check-circle-o"></use></svg>
                    </div>
                    <div class="agent-date">Đã tham gia: @String.Format("{0:dd/MM/yyyy}", ViewBag.NgayThamGia)</div>
                </div>

            </div>
        </div>

        <div class="side-bar">
            <div class="agent-widget widget">
                <div class="agent-info">
                    <img src="/images/avatar.png" alt="">
                    <div class="agent-name">
                        <a href="">@ViewBag.UserFullName</a>
                    </div>
                    <div class="agent-date">Đã tham gia: @String.Format("{0:dd/MM/yyyy}", ViewBag.NgayThamGia)</div>
                </div>
                <div class="agent-contact clearfix">
                    <a href="#">
                        <img width="16" height="16" style="display:inline-block" src="~/images/phoneicon.png" />
                        <span class="ng-binding">@ViewBag.SDT</span>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#message" gtm-event="link" gtm-cat="detail" gtm-act="ask" ng-click="Message.Open()">
                        <svg width="24" height="24"><use xlink:href="/content/mogi.svg#envelop-icon"></use></svg>
                        <span class="hidden-xs">Gửi tin nhắn</span>
                    </a>
                </div>
            </div>

            <div class="agent-command-widget">
                <div class="command-favorite" id="btn_save_ad" onclick="yeuthich2()">
                    <img id="img_save_ad" height="20" width="20" style="display: inline-block;" src="https://static.chotot.com/storage/icons/saveAd/save-ad.svg" alt="like" loading="lazy" data-saved="false"><span style="user-select:none;">Lưu tin</span>
                </div>
                <div class="social-network share-link-group ng-isolate-scope" svg-url="/content/fonts/mogi-icons.svg">
                    <a class="share-link" socialshare="" socialshare-provider="facebook" socialshare-display="popup" socialshare-popup-height="400" socialshare-popup-width="500" socialshare-url="https://mogi.vn/quan-2/thue-can-ho-dich-vu/chdv-cao-cap-sang-xin-chat-luong-quan-2-may-giat-rieng-id21986906">
                        <svg width="32px" height="32px"><use xlink:href="/content/fonts/mogi-icons.svg#mi-facebook"></use></svg>
                    </a>
                    <a class="share-link" socialshare="" socialshare-provider="facebook" socialshare-type="send" socialshare-via="280564992105935" socialshare-display="popup" socialshare-popup-height="400" socialshare-popup-width="600" socialshare-redirect-uri="https://mogi.vn/quan-2/thue-can-ho-dich-vu/chdv-cao-cap-sang-xin-chat-luong-quan-2-may-giat-rieng-id21986906" socialshare-url="https://mogi.vn/quan-2/thue-can-ho-dich-vu/chdv-cao-cap-sang-xin-chat-luong-quan-2-may-giat-rieng-id21986906">
                        <svg width="32px" height="32px"><use xlink:href="/content/fonts/mogi-icons.svg#mi-messenger"></use></svg>
                    </a>
                    <a class="share-link zalo-share-button" data-href="https://mogi.vn/quan-2/thue-can-ho-dich-vu/chdv-cao-cap-sang-xin-chat-luong-quan-2-may-giat-rieng-id21986906" data-oaid="4599343447665056788" data-layout="2" data-color="blue" data-customize="true">
                        <img alt="zalo" src="/content/fonts/circle-zalo.svg" style="width:32px;height:32px;">
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function yeuthich2() {
        const btn = document.getElementById("btn_save_ad");
        const img = document.getElementById("img_save_ad");
        btn.addEventListener(`click`, () => {
            if (img.getAttribute("src") === "https://static.chotot.com/storage/icons/saveAd/save-ad.svg") {
                img.setAttribute("src", "https://static.chotot.com/storage/icons/saveAd/save-ad-active.svg");
            }
            else {
                img.setAttribute("src", "https://static.chotot.com/storage/icons/saveAd/save-ad.svg");
            }

        });
    }
</script>