@using Microsoft.AspNetCore.Http.Extensions
@using System.Security.Claims;
@model mojoin.Models.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/detail.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" ></script>

}

@{
    var identity = (ClaimsIdentity)User.Identity;

    // Lấy giá trị của các đối tượng Claim
    string userId = identity.FindFirst("UserId")?.Value;
    string userAvt = identity.FindFirst("UserAvatar")?.Value;
    int count = 0;
    int index = 0;
}
<div id="mogi-page-content" class="mg-property-listing ng-scope">

    <div class="property-detail clearfix">

        <div class="property-detail-main">
            <div class="main-intro" style="margin-left: 1rem;">
                <!-- Gallery-->
                @{
                    Html.RenderPartialAsync("~/Views/Rooms/GetRoomImages.cshtml", Model.RoomImages);
                }
                <!--End Gallery-->
            </div>
            <div class="main-info">
                <div class="title">
                    <h1>
                        @if (@Model.DisplayType == 1)
                        {
                            @for (int i = 1; i <= 5; i++)
                            {
                                <i class="fas fa-star text-warning"></i>
                            }
                        }
                        else if (@Model.DisplayType == 2)
                        {
                            @for (int i = 1; i <= 4; i++)
                            {
                                <i class="fas fa-star text-warning"></i>
                            }
                        }
                        else if (@Model.DisplayType == 3)
                        {
                            @for (int i = 1; i <= 3; i++)
                            {
                                <i class="fas fa-star text-warning"></i>
                            }
                        }
                        else if (@Model.DisplayType == 4)
                        {
                            @for (int i = 1; i <= 2; i++)
                            {
                                <i class="fas fa-star text-warning"></i>
                            }
                        }
                        @Model.Title
                    </h1>
                </div>
                <div class="address"> @Model.Street, @Model.Ward, @Model.District, @Model.City</div>
                <div class="price">@String.Format("{0:#,##0}", Model.Price) VNĐ</div>
                <!--Social and favorite-->
                <!--Thong tin chinh-->
                <h2 class="info-title">Thông tin chính</h2>
                <div class="info-attrs clearfix">
                    <div class="info-attr clearfix">
                        <span>Diện tích sử dụng</span>
                        <span>@Model.Area m<sup>2</sup></span>
                    </div>


                    <div class="info-attr clearfix">
                        <span>Phòng ngủ</span>
                        <span>@Model.NumRooms</span>
                    </div>

                    <div class="info-attr clearfix">
                        <span>Nhà tắm</span>
                        <span>@Model.NumBathrooms</span>
                    </div>

                    <div class="info-attr clearfix">
                        <span>Pháp lý</span>
                        <span>Không xác định</span>
                    </div>
                    <div class="info-attr clearfix">
                        <span>Ngày đăng</span>
                        <span>@String.Format("{0:dd/MM/yyyy}", Model.CreateDate)</span>
                    </div>
                    <div class="info-attr clearfix" >
                        <span>Mã phòng</span>
                        <span id="roomIdClick" style="cursor: copy;">#@Model.RoomId</span>
                    </div>
                    <script>
                        // Lấy đối tượng chứa mã phòng
                        var roomIdSpan = document.getElementById('roomIdClick');

                        // Thêm sự kiện click
                        roomIdSpan.addEventListener('click', function () {
                            // Tạo một vùng chứa tạm thời để sao chép nội dung
                            var tempInput = document.createElement('input');
                            tempInput.value = roomIdSpan.innerText;
                            document.body.appendChild(tempInput);

                            // Chọn toàn bộ nội dung trong input
                            tempInput.select();
                            tempInput.setSelectionRange(0, 99999); /* For mobile devices */

                            // Thực hiện thao tác sao chép
                            document.execCommand('copy');

                            // Loại bỏ vùng chứa tạm thời
                            document.body.removeChild(tempInput);

                            // Hiển thị thông báo
                            alert('Đã sao chép mã phòng: #' + roomIdSpan.innerText);
                        });
                    </script>
                </div>
                <!--Gioi thieu-->
                <h2 class="info-title">Giới thiệu</h2>
                <div class="info-content-body">@Model.Description</div>
                <!--bao vi pham-->
                <div class="report" data-toggle="modal" data-target="#report" ng-click="Report.Open()" id="21650127" gtm-event="all" gtm-cat="detail" gtm-act="report">
                    <span>Báo vi phạm</span><i class="fa fa-exclamation-triangle"></i>
                </div>
                <div id="report" class="modal fade ng-scope in" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <span class="modal-title">Báo vi phạm</span>
                            </div>
                            <div class="modal-body noselect">
                                <form asp-action="SendReport" id="report-abuse" class="report-abuse ng-pristine ng-valid" name="report" novalidate="" method="post">
                                    <!-- Các trường ẩn -->
                                    <input asp-for="RoomId" type="hidden" name="roomId" value="@Model.RoomId" />
                                    <input asp-for="UserId" type="hidden" name="userId" value="@userId" />
                                    <ul>
                                        <li>
                                            <input type="checkbox" class="error-checkbox" name="errorContents" value="Nội dung tin không đúng (giá, diện tích, mô tả, ...)" />
                                            <span class="ng-binding ng-scope fa-square-o">Nội dung tin không đúng (giá, diện tích, mô tả, ...)</span>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="error-checkbox" name="errorContents" value="Địa chỉ của bất động sản không đúng" />
                                            <span class="ng-binding ng-scope fa-square-o">Địa chỉ của bất động sản không đúng</span>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="error-checkbox" name="errorContents" value="Ảnh không đúng với thực tế" />
                                            <span class="ng-binding ng-scope fa-square-o">Ảnh không đúng với thực tế</span>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="error-checkbox" name="errorContents" value="Tin không có thật" />
                                            <span class="ng-binding ng-scope fa-square-o">Tin không có thật</span>
                                        </li>
                                        <!-- Các phần tử li khác -->
                                    </ul>

                                    <div class="command">
                                        <input id="sendreport" class="btn-sm btn-primary send" type="submit" value="Gửi">
                                        <input class="btn-sm btn-clear closed" type="button" value="Bỏ qua" data-dismiss="modal">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!--Agent-->
                <div class="agent-info">
                    <img src="@ViewBag.Avt" width="16" height="16" style="display:inline-block" />
                    <div class="agent-name">
                        <a href="">@ViewBag.Ho @ViewBag.Ten</a>

                        <svg width="18" height="18"><use xlink:href="/content/mogi.svg#check-circle-o"></use></svg>
                    </div>
                    <div class="agent-date">Đã tham gia: @String.Format("{0:dd/MM/yyyy}", ViewBag.NgayThamGia)</div>
                </div>
                <h2 class="info-title">Tiện ích xung quanh</h2>
                <div id="map" style="width: 100%; height: 400px;"></div>

            </div>
        </div>

		<div class="side-bar">
			<div class="agent-widget widget">
				<div class="agent-info">
					@if (!string.IsNullOrEmpty(userAvt))
					{
						<img src="@ViewBag.Avt" width="16" height="16" style="display:inline-block" />
					}
					else
					{
						<img src="~/images/avatar.png" width="16" height="16" style="display:inline-block" />
					}
					<div class="agent-name">
						<a href="">@ViewBag.Ho @ViewBag.Ten</a>
					</div>
					<div class="agent-date">Đã tham gia: @String.Format("{0:dd/MM/yyyy}", ViewBag.NgayThamGia)</div>
				</div>
				<div class="agent-contact clearfix">
					<a href="#">
						<img src="~/images/phoneicon.png" width="16" height="16" style="display:inline-block" />
						<span class="ng-binding">@ViewBag.SDT</span>
					</a>
					<a href="#" id="sendMessageLink">
						<svg width="24" height="24"><use xlink:href="/content/mogi.svg#envelop-icon"></use></svg>
						<span class="hidden-xs">Gửi tin nhắn</span>
					</a>
					

					@*<div id="messageForm" class="hiddenPopup">
					<form asp-action="SendMessage" id="messageForm">
					<input type="hidden" name="usermail" value="@ViewBag.Mail" />
					<!-- Trường họ tên -->
					<input type="text" name="fullName" placeholder="Họ tên">

                    <!-- Trường địa chỉ email -->
                    <input type="email" name="email" placeholder="Địa chỉ email">

                    <!-- Trường số điện thoại -->
                    <input type="tel" name="phoneNumber" placeholder="Số điện thoại">

                    <!-- Nút Submit -->
                    <button type="submit">Gửi</button>
                    </form>
                    </div>*@
                </div>
            </div>

			<div @*id="viewlist"*@ class="agent-command-widget">
                <div class="DatMua" style="display: inline-block; justify-content: flex-end; margin-left: -2rem;">
					@if (ViewBag.IsYeuThich)
					{

						<div class="SaveAd_saveAdWrapper___sBMh AdItem_saveAd__3prt2 ">
							<a href="@Url.Action("XoaYeuThich", "YeuThich", new { id = Model.RoomId })" id="btn_save_ad" title="Bỏ lưu tin" onclick="" type="button" class="SaveAd_btnSavedAd__jwoYd ">
                                <img id="img_save_ad" height="20" width="20" src="/images/un-save.png" alt="like" loading="lazy" data-saved="false">
							</a>
						</div>
						@*                <a title="Xóa khỏi yêu thích" class="btn-add-cat btn btn-outline-secondary fa fa-heart text-danger" href="@Url.Action("XoaYeuThich", "YeuThich", new { id = Model.RoomId })"></a>*@
					}
					else
					{
						<div class="SaveAd_saveAdWrapper___sBMh AdItem_saveAd__3prt2 ">
							<a href="@Url.Action("LuuYeuThich", "YeuThich", new { id = Model.RoomId })" id="btn_save_ad" title="Lưu tin" onclick="" type="button" class="SaveAd_btnSavedAd__jwoYd ">
                                <img id="img_save_ad" height="20" width="20" src="/images/save.png" alt="like" loading="lazy" data-saved="false">
							</a>
						</div>
					}
				</div>
                <div class="link-user-zalo" style="display: inline-block; justify-content: flex-end; float:right; margin-right:1rem;">
                    <div class="SaveAd_saveAdWrapper___sBMh AdItem_saveAd__3prt2 ">
                        <a href="zalo://conversation?phone=@ViewBag.SDT" onclick="" type="button" title="Nhắn tin Zalo" class="SaveAd_btnSavedAd__jwoYd ">
                            <img  height="30" width="30" src="~/images/Icon_of_Zalo.svg.png" alt="like" loading="lazy" data-saved="false">
                        </a>
                    </div>
                </div>
                <div class="link-user-facebook" style="display: inline-block; justify-content: flex-end; float:right;  margin-right:1rem;">
                    <div class="SaveAd_saveAdWrapper___sBMh AdItem_saveAd__3prt2 ">
                        <a href="https://www.facebook.com/messages/t/@ViewBag.idFb" onclick="" type="button" title="Nhắn tin Message" target="_blank" class="SaveAd_btnSavedAd__jwoYd ">
                            <img height="30" width="30" src="~/images/Facebook_Messenger_logo_2020.svg.png" alt="like" loading="lazy" data-saved="false">
                        </a>
                    </div>
                </div>
			</div>            
		</div>
            @{
                Html.RenderPartialAsync("~/Views/Rooms/ListRoomNew.cshtml");
            }

	</div>
</div>
<div id="message" class="modal fade ng-scope in" style="display: none;">
						<div class="modal-dialog" style="padding-top: 10%;">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<span class="modal-title">Liên hệ môi giới</span>
								</div>
								<div class="modal-body" style="">
									<form novalidate="" name="messageToAgent" class="agent-form clearfix ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-pattern">
										<input autocomplete="off" class="agent-input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" data-val="true" data-val-maxlength="“Họ &amp; Tên” có chiều dài tối đa là 150 ký tự." data-val-maxlength-max="150" data-val-required="Vui lòng nhập “Họ &amp; Tên”." id="SenderName" name="SenderName" placeholder="Họ &amp; Tên" required="required" type="text" value="">
										<!-- ngIf: messageToAgent.SenderName.$touched || messageToAgent.$submitted -->
										<input autocomplete="off" class="agent-input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" data-val="true" data-val-maxlength="“Số điện thoại” có chiều dài tối đa là 10 ký tự." data-val-maxlength-max="10" data-val-regex="“Số điện thoại” không hợp lệ." data-val-regex-pattern="^(02|03|05|07|08|09)[0-9]{8}$" data-val-required="Vui lòng nhập “Số điện thoại”." id="SenderMobile" name="SenderMobile" pattern="^(02|03|05|07|08|09)[0-9]{8}$" placeholder="Số điện thoại" required="required" type="text" value="">
										<!-- ngIf: messageToAgent.SenderMobile.$touched || messageToAgent.$submitted -->
										<input autocomplete="off" class="agent-input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" data-val="true" data-val-regex="&quot;Email&quot; nhập vào không hợp lệ"  data-val-required="Vui lòng nhập “Email”." id="SenderEmail" name="SenderEmail" ng-model="UserInbox.SenderEmail" placeholder="Email" required="required" type="text" value="">
										<!-- ngIf: messageToAgent.SenderEmail.$touched || messageToAgent.$submitted -->
										<input class="btn-sm btn-primary send" type="submit" value="Gửi" id="sendmessage" gtm-event="all" gtm-cat="detail" gtm-act="contact">
										<input class="btn-sm btn-clear closed" type="button" value="Bỏ qua" data-dismiss="modal">
									</form>
								</div>
							</div>
						</div>
					</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWTx7bREpM5B6JKdbzOvMW-RRlhkukmVE&callback=initMap" async defer></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: { lat: 10.123, lng: 20.456 } // Thay thế bằng tọa độ lat-lng mong muốn
        });

        var address = "";

        if ("@Model.StreetNumber") {
            address += "@Model.StreetNumber, ";
        }

        address += "@Model.Street, @Model.Ward, @Model.District, @Model.City";

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ address: address }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);

                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy tham chiếu đến các phần tử cần sử dụng
        var reportTrigger = document.querySelector('.report');
        var closeButton = document.querySelector('.modal-header .close');
        var dismissButton = document.querySelector('.btn-clear');
        var reportModal = document.querySelector('#report');

        // Xử lý sự kiện click vào nút "Báo vi phạm"
        reportTrigger.addEventListener('click', function () {
            reportModal.style.display = 'block'; // Hiển thị cửa sổ modal
        });

        // Xử lý sự kiện click vào nút "Bỏ qua"
        closeButton.addEventListener('click', function () {
            reportModal.style.display = 'none'; // Ẩn cửa sổ modal
        });

        // Xử lý sự kiện click vào nút "Bỏ qua" trong cửa sổ modal
        dismissButton.addEventListener('click', function () {
            reportModal.style.display = 'none'; // Ẩn cửa sổ modal
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#sendreport').click(function (e) {
            e.preventDefault(); // Ngăn chặn hành vi mặc định của form (gửi đi và làm tải lại trang)

            // Lấy giá trị của các ô checkbox đã được chọn
            var selectedValues = [];
            $('input.error-checkbox:checked').each(function () {
                selectedValues.push($(this).val());
            });

            // Gán giá trị đã chọn vào một trường ẩn trong form
            $('input[name="errorContents"]').val(selectedValues.join(','));

			// Gửi form đến action SendReport
			$('#report-abuse').submit();
		});
	});
</script>
@*send message script*@
<script>
	// Lấy phần tử với id="sendMessageLink"
	var sendMessageLink = document.getElementById("sendMessageLink");

	// Lấy phần tử với id="message"
	var messageModal = document.getElementById("message");

	// Gán sự kiện click cho sendMessageLink
	sendMessageLink.addEventListener("click", function () {
		// Hiển thị phần tử message
		messageModal.style.display = "block";
	});

	// Lấy phần tử có class="close" trong messageModal
	var closeButton = messageModal.querySelector(".close");

	// Gán sự kiện click cho closeButton
	closeButton.addEventListener("click", function () {
		// Ẩn phần tử message
		messageModal.style.display = "none";
	});

	// Lấy phần tử có class="btn-clear" trong messageModal
	var clearButton = messageModal.querySelector(".btn-clear");

	// Gán sự kiện click cho clearButton
	clearButton.addEventListener("click", function () {
		// Ẩn phần tử message
		messageModal.style.display = "none";
	});

</script>

@*<script>
	window.addEventListener("load", function () {
		const slider = this.document.querySelector(".slider");
		const sliderMain = this.document.querySelector(".slider-main");
		const sliderItems = this.document.querySelectorAll(".slider-item");
		const nextBtn = this.document.querySelector(".slider-next");
		const prevBtn = this.document.querySelector(".slider-prev");
		const dotItems = this.document.querySelectorAll(".slider-dot-item");
		const sliderItemWidth = sliderItems[0].offsetWidth;
		const slidesLength = sliderItems.length;
		const count = this.document.querySelector(".countpage");
		//document.querySelector("span").innerText = `${index + 1}/${slidesLength}`;
		let postionX = 0;
		let index = 0;
		nextBtn.addEventListener("click", function () {
			handleChangeSlide(1);
		});
		prevBtn.addEventListener("click", function () {
			handleChangeSlide(-1);
		});
		[...dotItems].forEach(item => item.addEventListener("click", function (e) {
			const slideIndex = parseInt(e.target.dataset.index);
			[...dotItems].forEach(el => el.classList.remove("active"));
			e.target.classList.add("active");
			index = slideIndex;
			postionX = -1 * index * sliderItemWidth;
			sliderMain.style = `transform: translateX(${postionX}px)`;
		}));
		function handleChangeSlide(direction) {
			if (direction == 1) {
				if (index >= slidesLength - 1) {
					index = slidesLength - 1;
					return;
				}
				postionX = postionX - sliderItemWidth;
				sliderMain.style = `transform: translateX(${postionX}px)`;
				console.log(index);
				index++;
				count.innerHTML = `${index + 1}/${slidesLength}`;
			} else if (direction == -1) {
				if (index <= 0) {
					index = 0;
					return;
				}
				postionX = postionX + sliderItemWidth;
				sliderMain.style = `transform: translateX(${postionX}px)`;
				console.log("prev slide");
				index--;
				count.innerHTML = `${index + 1}/${slidesLength}`;
			}

		}
	})
</script>*@







