@model mojoin.Models.Room
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="Rooms" asp-action="Index" class="breadcrumb-item">Danh sách bài đăng</a>
            <span class="breadcrumb-item active">Chi tiết bài đăng</span>
        </nav>
    </div>
</div>
<h1>Chi tiết bài đăng</h1>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4 class="font-weight-bold">Thông tin phòng</h4>
            <hr />
            <dl class="row">

                <dt class="col-sm-4">Tiêu đề:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Title)</dd>

                <dt class="col-sm-4">Mô tả:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-4">Loại phòng:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.RoomType.TypeName)</dd>

                <dt class="col-sm-4">Số phòng tắm:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NumBathrooms)</dd>

                <dt class="col-sm-4">Số phòng ngủ:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NumRooms)</dd>

                <dt class="col-sm-4">Diện tích:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Area) m<sup>2</sup></dd>

                <dt class="col-sm-4">Giá:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Price) đồng/tháng</dd>

                <dt class="col-sm-4">Địa chỉ:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.StreetNumber) @Html.DisplayFor(model => model.Street), Ward @Html.DisplayFor(model => model.Ward), District @Html.DisplayFor(model => model.District), @Html.DisplayFor(model => model.City)</dd>

                <dt class="col-sm-4">Tiện nghi:</dt>
                <dd class="col-sm-8">
                    <ul class="list-unstyled">
                        <li>@Html.DisplayFor(model => model.HasRefrigerator) Tủ lạnh</li>
                        <li>@Html.DisplayFor(model => model.HasAirConditioner) Điều hòa</li>
                        <li>@Html.DisplayFor(model => model.HasWasher) Máy giặt</li>
                        <li>@Html.DisplayFor(model => model.HasElevator) Thang máy</li>
                        <li>@Html.DisplayFor(model => model.HasParking) Chỗ đỗ xe</li>
                    </ul>
                </dd>

                <dt class="col-sm-4">Ngày đăng:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CreateDate)</dd>

                <dt class="col-sm-4">Lần cập nhật cuối:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.LastUpdate)</dd>

                <dt class="col-sm-4">Được xem:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ViewCount) lượt</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <h4 class="font-weight-bold">Hình ảnh</h4>
            <hr />
            <div class="row">
                @foreach (var image in Model.RoomImages)
                {
                    <div class="col-sm-4 mb-3">
                        <img src="@image.Image" class="img-fluid" />
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <a asp-action="Edit" asp-route-id="@Model.RoomId" class="btn btn-primary">Chỉnh sửa</a>
            <a asp-action="Index" class="btn btn-secondary ml-3">Quay lại danh sách</a>
        </div>
    </div>
</div>
