@model IEnumerable<mojoin.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    <link href="~/admin_assets/css/table.css" rel="stylesheet" />

}
<link href="~/css/jquery.datatables.min.css" rel="stylesheet" />
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Rooms" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Bài Đăng</a>
            @if (ViewBag.RoomsParams == -1)
            {
                <span class="breadcrumb-item active">Danh sách bài đăng</span>
            }
            else
            {
                <span class="breadcrumb-item active">Danh sách phê duyệt</span>
            }


        </nav>
    </div>
</div>

<div class="col-sm-5">
    @if (ViewBag.RoomsParams == -1)
    {
        <h3>DANH SÁCH <b>BÀI ĐĂNG</b></h3>
    }
    else
    {
        <h3>DANH SÁCH <b>PHÊ DUYỆT</b></h3>
    }

</div>
<div class="card-header">
    <div class="row">
        <div class="col-md-8 ">
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-success btn-tone m-r-5" asp-action="Create">Create</a>
        </div>
    </div>
</div>

<div class="card-body">
    @*<div class="row m-b-30">
    <div class="col-lg-8">
    <div class="d-md-flex">
    <div class="m-b-10 m-r-15">
    <select class="custom-select" id="idrole" name="idrole" style="min-width: 200px;" asp-items="ViewBag.QuyenAcc">
    <option value="0" disabled selected>Quyền truy cập</option>
    </select>
    </div>
    <div class="m-b-10">
    <select class="custom-select" id="idrole" name="idrole" style="min-width: 200px;" asp-items="ViewBag.lsTrangThai">
    <option value="0" disabled selected>Trạng thái truy cập</option>
    </select>
    </div>
    </div>
    </div>
    </div>*@
    <div class="table-responsive">
        <table id="myTable" class="table table-hover e-commerce-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>
                        RoomType
                        @if (ViewBag.RoomsParams == -1)
                        {
                            <select class="border-0" id="idRole" name="idRole" title="Chọn loại phòng trọ" style="max-width:15px" asp-items="ViewBag.lsLoaiPhong">
                            </select>
                        }

                    </th>
                    <th>
                        Trạng thái
                        @if (ViewBag.RoomsParams == -1)
                        {
                            <select class="border-0" id="idActive" name="idActive" title="Chọn Trạng thái" style="max-width:18px" asp-items="ViewBag.lsTrangThai">
                            </select>
                        }
                    </th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.RoomId</th>

                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="assets/images/others/thumb-15.jpg" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">@item.Title</h6>
                                </div>

                            </td>
                            <td>
                                @if (item.RoomTypeId == 1)
                                {
                                    <div class="d-flex align-items-center">
                                        @*<div class="badge badge-success badge-dot m-r-10"></div>*@
                                        <div>Nhà trọ</div>
                                    </div>
                                }
                                else if (item.RoomTypeId == 2)
                                {
                                    <div class="d-flex align-items-center">
                                        @*<div class="badge badge-warning badge-dot m-r-10"></div>*@
                                        <div>Căn hộ</div>
                                    </div>
                                }
                                else if (item.RoomTypeId == 3)
                                {
                                    <div class="d-flex align-items-center">
                                        @* <div class="badge badge-danger badge-dot m-r-10"></div>*@
                                        <div>Ở chung chủ</div>
                                    </div>
                                }
                                else if (item.RoomTypeId == 4)
                                {
                                    <div class="d-flex align-items-center">
                                        @* <div class="badge badge-danger badge-dot m-r-10"></div>*@
                                        <div>Ở ghép</div>
                                    </div>
                                }
                            </td>
                            @*<td>@item.Phone</td>
                    <td><img class="avatar" src="" alt="Avatar" /></td>
                    <td>@(item.Room != null ? item.Rooms.RoleName : "")</td>*@
                            <td>
                                @if (item.IsActive == 1)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div>Đã duyệt</div>
                                    </div>
                                }
                                else if (item.IsActive == 2)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-warning badge-dot m-r-10"></div>
                                        <div>Không được duyệt</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                        <div>Chưa duyệt</div>
                                    </div>
                                }
                            </td>
                            @*@if (ViewBag.RoomsParams == -1)
                    {*@
                            <td>
                                <a class="btn btn-secondary btn-tone m-r-5 fa fa-eye" title="Details" asp-action="Details" asp-route-id="@item.RoomId"></a>
                                <a class="btn btn-warning btn-tone m-r-5 fa fa-edit" title="Edit" asp-action="Edit" asp-route-id="@item.RoomId"></a>
                                <a class="btn btn-danger btn-tone m-r-5 fa fa-trash" title="Delete" asp-action="Delete" asp-route-id="@item.RoomId"></a>
                            </td>
                            @* }
                    <a class="btn btn-secondary btn-tone m-r-5 fa fa-eye" title="Phê Duyệt" asp-route-id="@item.RoomId"></a>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
</div>
<script>
    $("#form-create").validate({
        errorClass: 'is-invalid',
        validClass: 'is-valid',
        rules: {
            Username: {
                required: true,
                minlength: 8
            },
            Password: {
                required: true
            },
            ConfirmPassword: {
                required: true,
                equalTo: '#password'
            },
        }
    });
</script>
@section footer{
    <script src="~/js/jquery.datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                // ...
                "columnDefs": [
                    { "orderable": false, "targets": "_all" }
                ]
            });
            $('#myTable tbody').on('mouseenter', 'td', function () {
                var colIdx = table.cell(this).index().column;

                $(table.cells().nodes()).removeClass('highlight');
                $(table.column(colIdx).nodes()).addClass('highlight');
            });
            // Lấy dữ liệu cho dropdown từ ViewData
            $('#idRole').on('change', function () {
                var selectedValue = $("#idRole option:selected").text(); // Lấy giá trị đã chọn từ dropdown
                // Lọc bảng dữ liệu bằng giá trị đã chọn
                table.column(2).search(selectedValue).draw();
            });
            $('#idActive').on('change', function () {
                var selectedValue = $("#idActive option:selected").text(); // Lấy giá trị đã chọn từ dropdown
                // Lọc bảng dữ liệu bằng giá trị đã chọn
                table.column(3).search(selectedValue).draw();
            });

        });


    </script>
}
