@model mojoin.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="breadcrumb-item">Danh sách Người dùng</a>
            <span class="breadcrumb-item active">Chi tiết Người dùng</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <h3 class="card-title col-md-8">Thông tin Người dùng</h3>
            <div class="col-md-4 text-right">
                <a class="btn btn-info btn-tone m-r-5" asp-action="Index">Quay lại danh sách</a>
                <a class="btn btn-warning btn-tone m-r-5" asp-action="Edit" asp-route-id="@Model.UserId">Chỉnh sửa</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="product-info-table m-t-20 table-bordered table-hover">
                <tbody>
                    <tr>
                        <td>Tên Quyền:</td>
                        @{
                            string role = string.Empty;
                            if (Model.RolesId == 1)
                            {
                                role = "Admin";
                            }
                            else if (Model.RolesId == 2)
                            {
                                role = "Staff";
                            }
                            else if (Model.RolesId == 3)
                            {
                                role = "User";
                            }
                        }
                        <td>@role</td>
                    </tr>
                    <tr>
                        <td>Họ:</td>
                        <td>@Model.LastName</td>
                    </tr>
                    <tr>
                        <td>Tên:</td>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại:</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <td>Giới tính:</td>
                        @{
                            string gender = string.Empty;
                            if (Model.Sex == "0")
                            {
                                gender = "Nam";
                            }
                            else if (Model.Sex == "1")
                            {
                                gender = "Nữ";
                            }
                            else if (Model.Sex == "2")
                            {
                                gender = "Khác";
                            }
                        }
                        <td>@gender</td>
                    </tr>
                    <tr>
                        <td>Ngày sinh:</td>
                        <td>@Model.Dateofbirth</td>
                    </tr>
                    <tr>
                        <td>Mật khẩu:</td>
                        <td>@Model.Password</td>
                    </tr>
                    <tr>
                        <td>Avatar:</td>
                        <td>
                            <div style="width: 100px; height: 100px; overflow: hidden;">
                                <img src="@Html.DisplayFor(model => model.Avatar)" style="width: 100%; height: auto; margin-top: -25px;" />
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Trạng thái hoạt động:</td>
                        @{
                            string status = "Chưa xác định";
                            if (Model.IsActive.HasValue)
                            {
                                if (Model.IsActive.Value)
                                {
                                    status = "Đang hoạt động";
                                }
                                else
                                {
                                    status = "Ngừng hoạt động";
                                }
                            }
                        }
                        <td>@status</td>
                    </tr>
                    <tr>
                        <td>InfoZalo:</td>
                        <td>@Model.InfoZalo</td>
                    </tr>
                    <tr>
                        <td>InfoFacebook:</td>
                        <td>@Model.InfoFacebook</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.CreateDate</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
