@model IEnumerable<mojoin.Models.UserAccount>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách tài khoản</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="idrole" name="idrole" style="min-width: 200px;" asp-items="ViewBag.QuyenAcc">
                            <option value="0" disabled selected>Quyền truy cập</option>
                        </select>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" id="idrole" name="idrole" style="min-width: 200px;" asp-items="ViewBag.lsTrangThai">
                            <option value="0" disabled selected>Trạng thái truy cập</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="myTable" class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th>Mật khẩu</th>
                        <th>SĐT</th>
                        <th>Avatar</th>
                        <th>Quyền</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-15.jpg" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.Username</h6>
                                    </div>

                                </td>
                                <td>
                                    @item.Password
                                </td>
                                <td>@item.Phone</td>
                                <td><img class="avatar" src="" alt="Avatar" /></td>
                                <td>@item.Role.RoleName</td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Đang hoạt động</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-warning badge-dot m-r-10"></div>
                                            <div>Tạm ngưng</div>
                                        </div>
                                    }

                                </td>
                                <td>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-action="Details" asp-route-id="@item.AccountId">View</a>
                                    <a class="btn btn-warning btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.AccountId">Edit</a>
                                    <a class="btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
