@using System.Security.Claims;
@model IEnumerable<mojoin.Models.Yeuthich>

@{
    ViewData["Title"] = "YeuThich";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/yeuthich.css" rel="stylesheet" />
}
@{
    var identity = (ClaimsIdentity)User.Identity;

    // Lấy giá trị của các đối tượng Claim
    string firstName = identity.FindFirst("FirstName")?.Value;
    string lastName = identity.FindFirst("LastName")?.Value;
    string userId = identity.FindFirst("UserId")?.Value;
    string userPhone = identity.FindFirst("UserPhone")?.Value;
    string userAvt = identity.FindFirst("UserAvatar")?.Value;
}
<div id="profile" class="mg-container ng-scope">

    <div id="sidebar" class="clearfix" style="">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userinfo clearfix line">
                    <div class="profile-userpic">
                        <img class="img-responsive" src="@userAvt">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name ng-binding">@lastName @firstName</div>
                        <div class="profile-usertitle-job ng-binding">@userPhone</div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR MENU -->
                </div>
                <div class="profile-usermenu clearfix">
                    <ul class="nav navbar-nav">
                        <li id="list-fav" class=" active"><a href="/yeu-thich.html" rel="nofollow"><i class="fa fa-heart"></i>Tin yêu thích</a></li>
                        <li id="in4-user" class=""><a href="/update-in4.html" rel="nofollow"><i class="fa fa-address-card"></i>Thông tin cá nhân</a></li>
                        <li id="change-pass" class=""><a href="/doi-pass.html" rel="nofollow"><i class="fa fa-lock"></i>Thay đổi mật khẩu</a></li>
                        <li><a href="/logout.html"><i class="fa fa-sign-out f18"></i>Đăng xuất</a></li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>

    </div>
    <div id="main" class="clearfix" style="">
        <div id="property" class="clearfix">
            <div class="summary clearfix line">
                @*<div class="summary-tab" style="">
                <h4><a class="to-uppper" data-toggle="pill" href="">Bán <span class="counter ng-binding">(0)</span></a></h4>
                </div>*@
                <div class="summary-tab active" style="">
                    <h4><a class="to-uppper" data-toggle="pill" href="">Thuê<span class="counter ng-binding"> (@ViewBag.tongsoluong)</span></a></h4>
                </div>
            </div>

            <div id="property-items" class="tab-content">
                <div id="rent-list" class="" style="">
                    @foreach (var item in Model)
                    {
                        <div class="property-item clearfix" id="@item.UserId">
                            <div class="property-header clearfix">
                                <div class="property-image">
                                    <img src="/Rooms/ShowImage/@item.RoomId">
                                </div>
                                <div class="property-price">@String.Format("{0:#,##0}", @item.Price) VNĐ</div>
                            </div>
                            <div class="property-content clearfix">
                                <div class="property-info clearfix">
                                    <div class="title clearfix">
                                        <a href="/Rooms/Details/@item.RoomId" class="link-overlay">
                                            @item.Title
                                        </a>
                                    </div>
                                    <div class="property-address clearfix">

                                        @item.StreetNumber @item.Street, @item.District, @item.City
                                    </div>

                                    <div class="property-utility clearfix">
                                        <div class="property-utility">
                                            <span><i class="fa fa-bed"></i>@item.NumRooms</span>
                                            <span class="bathroom"><i class="fa fa-bath"></i>@item.NumBathrooms</span>
                                            <span><i class="icon icon-acreage"></i>@item.Area m<sup>2</sup></span>
                                        </div>
                                    </div>
                                    <div class="property-summary">
                                        @item.Description
                                    </div>
                                </div>
                                <div class="posted-date clearfix ">Ngày đăng:@String.Format("{0:dd/MM/yyyy}", @item.CreateDate)</div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
</div>

