@model IEnumerable<mojoin.Models.TransactionHistory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách Lịch sử giao dịch</span>
        </nav>
    </div>
</div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card pt-2">

            <div class="card-header">
                <div class="row">
                    <div class="col-md-8 ">
                    </div>

                    
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive ">
                    <table id="myTable" class="table table-hover e-commerce-table">
                        <thead>
                            <tr>
                                <th scope="col">UserId</th>
                                <th scope="col">Loại giao dịch</th>
                                <th scope="col">Số tiền </th>
                                <th scope="col">Ngày giao dịch</th>
                                <th scope="col">Phương thức thanh toán</th>
                                <th scope="col">Tiền nhận</th>
                                <th scope="col">Ghi chú</th>
                                <th>
                                    Trạng thái 


                                    <select class="border-0" id="idActive" name="idActive" title="Chọn Trạng thái" style="max-width:20px" asp-items="ViewBag.lstrangthai">
                                    </select>

                                </th>
                                
                                
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>


                                    @* @if (item.User != null)
                                    {
                                        @Html.DisplayFor(u => item.User.LastName) @Html.DisplayFor(u => item.User.FirstName)
                                       } *@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaymentMethod)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReceivedAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Note)
                                    </td>
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Thành công</div>
                                            </div>
                                        }
                                        else if (item.Status == 1)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Thất bại</div>
                                            </div>
                                        }
                                        else if (item.Status == 2)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Đang xử lý</div>
                                            </div>
                                        }
                                    </td>


                                    
                                    
                                </tr>
                            }

                        </tbody>

                    </table>


                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
<script>
    $("#form-create").validate({
        errorClass: 'is-invalid',
        validClass: 'is-valid',
        rules: {
            Username: {
                required: true,
                minlength: 8
            },
            Password: {
                required: true
            },
            ConfirmPassword: {
                required: true,
                equalTo: '#password'
            },
        }
    });
</script>
@section footer {
    <script src="~/js/jquery.datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                // ...
                "columnDefs": [
                    { "orderable": false, "targets": "_all" }
                ]
            });

            $('#myTable tbody').on('mouseenter', 'td', function () {
                var colIdx = table.cell(this).index().column;

                $(table.cells().nodes()).removeClass('highlight');
                $(table.column(colIdx).nodes()).addClass('highlight');
            });
            // Lấy dữ liệu cho dropdown từ ViewData
            $('#idRole').on('change', function () {
                var selectedValue = $("#idRole option:selected").text(); // Lấy giá trị đã chọn từ dropdown
                // Lọc bảng dữ liệu bằng giá trị đã chọn
                table.column(1).search(selectedValue).draw();
            });
            $('#idActive').on('change', function () {
                var selectedValue = $("#idActive option:selected").text(); // Lấy giá trị đã chọn từ dropdown
                // Lọc bảng dữ liệu bằng giá trị đã chọn
                table.column(7).search(selectedValue).draw();
            });

        });


    </script>
}