@model IEnumerable<mojoin.Models.RoomReport>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/jquery.datatables.min.css" rel="stylesheet" />
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="RoomReports" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>BÁO CÁO</a>
                <span class="breadcrumb-item active">Danh sách báo cáo</span>
        </nav>
    </div>
</div>
<h3>DANH SÁCH <b>BÁO CÁO</b></h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ReportContent</th>
            
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsResolved)
            </th>*@
            <th style="width: 120px;">
                Trạng thái
                <select id="idReport" name="idReport" title="Chọn trạng thái" style="max-width: 10px" asp-items="ViewBag.lsTrangThai">
                    </select>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>Chức năng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                    <th scope="row">@item.ReportId</th>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportContent)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @if (item.IsResolved == 1)
                    {
                        <div class="d-flex align-items-center">
                            <div class="badge badge-success badge-dot m-r-10"></div>
                            <div>Đã xử lý!</div>
                        </div>
                    }
                    else 
                    {
                        <div class="d-flex align-items-center">
                            <div class="badge badge-danger badge-dot m-r-10"></div>
                            <div>Chưa xữ lý</div>
                        </div>
                    }
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.RoomId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserId)
                </td>
                <td>
                    <li class="list-inline-item">
                        <a class="btn btn-success  m-r-5" style="display: inline-block; border: 1px solid white; padding: 5px;" onclick="UpdateActiveStatus(@item.RoomId)">Đã liên hệ</a>
                        <a class="btn btn-default  m-r-5" style="display: inline-block; border: 1px solid gray; padding: 5px;" asp-controller="Rooms" asp-action="Details" asp-route-id="@item.RoomId">Xem chi tiết</a>
                        
                    </li>
                </td>
            </tr>
        }
    </tbody>
</table>
